---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <html>
    <head>
        <title>User Profile</title>
    </head>
    <body>
    <h1>Welcome to Your Profile Page</h1>
    <p>This is where user profile information will be displayed.</p>
    </body>
    </html>
</Layout>
